<div class="body">    
    <div class="main-dashboard">
        <div class="left-section">
            <div class="week-progress-section" >
                <app-today-attendance></app-today-attendance>
            </div>
        </div>
        <div class="right-section">
            <div class="actions-section">
                <app-attendance></app-attendance>
            </div>
            <div class="holiday-calendar-section">
                <app-holiday-calendar></app-holiday-calendar>
            </div>
        </div>
    </div>
</div>
